body {
  font-family: Arial;
  background: #f2f2f2;
  padding: 20px;
}

h2 {
  color: #333;
}

input, select, button {
  padding: 8px;
  width: 200px;
}

button {
  background: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: blue;
}
